<div class="dialog-container-1">
  <h2 class="tittle-1">Contact Detail</h2>
  <div class="content-container-1">
    <p><strong>ID:</strong> {{ data.id }}</p>
    <p><strong>Name:</strong> {{ data.name }}</p>
    <p><strong>Surname:</strong> {{ data.surname }}</p>
    <p><strong>Email:</strong> {{ data.email }}</p>
    <p><strong>Phone:</strong> {{ data.phone }}</p>
  </div>
  <div class="button-container-1">
    <button class="button-1" type="button" (click)="onClose()">Close</button>
  </div>
</div>
